prune exemplos
recursive-include exemplos ecd_?.txt
recursive-include exemplos ecf_?.txt
recursive-include exemplos efd_contribuicoes_?.txt
recursive-include exemplos efd_icms_ipi_?.txt

include scripts/tipagem.py
include scripts/conversor.py

recursive-include tests *.py

recursive-include modulos *.csv
recursive-include src/escriturador_sped/modulos *.json